.Graph {
  font-family: 'Ubuntu';
}

.AcceleratorBar .ms-Label,
.ms-ChoiceField .ms-Label,
.ms-ChoiceFieldGroup-title .ms-Label {
  font-family: 'Ubuntu';
  font-size: 16px;
  color: #333333;
}

.SVGTooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.label {
  fill: #333333;
  font-weight: bold;
}

.tick text {
  fill: #333333;
  font-size: 12px;
}