.Graph {
  font-family: 'Ubuntu';
}

.SVGTooltip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.label {
  fill: black;
  font-weight: bold;
}

.tick text {
  font-size: 12px;
}