body {
  background: #f4f4f4;
}

.Main {
  border: 1px solid seagreen;
}

.Graph {
  margin-left: 15%;
  margin-right: 15%;
}

.DebtTable {
  font-size: 16px;
  font-family: 'Ubuntu';
  min-width: 900px;
}

.tableHeader {
  opacity: 1.0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5%;
  color: white;
  font-size: 100%;
  font-family: inherit;
  background: #3c3c3c;
}

.tableCell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5%;
  font-size: 100%;
  font-family: inherit;
}

.tableCell-morphing {
  border: '';
}

.tableCell-display {
  border-top: solid 1px #bdc3c7;
  border-bottom: solid 1px #bdc3c7;
  border-left: none;
  border-right: none;
}

.tableCell-add {
  border: '';
}

.LineWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

/* add zebra stripes to DebtTable*/
.LineWrapper:nth-child(2n) .tableCell-morphing,
.LineWrapper:nth-child(2n) .tableCell-display {
  background-color: #b3d6f2;
}

.LineWrapper:nth-child(2n + 1) .tableCell-morphing,
.LineWrapper:nth-child(2n + 1) .tableCell-display {
  background-color: #69afe5;
}

.LineWrapper:hover {
  opacity: 0.8;
}

.LineWrapper:nth-child(1) {
  opacity: 1.0 !important;
}

.LineWrapper-cell {
  flex-grow: 0;
  flex-basis: 20%;
}

.LineWrapper-cell:hover input{
  border: 1px solid #3c3c3c;
}

.IconWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.IconWrapper-button {
  flex-basis: 40%;
}

.button {
  padding: 0.5em 1em 0.5em 1em;
}

.button-primary {
  background-color: #0078d7;
  color: white;
}

.button-primary:hover {
  background-color: #005a9e;
}

.button-normal {
  background-color: #eaeaea;
  color: black;
}

.button-normal:hover {
  background-color: #c8c8c8;
}
