body {
  background: #f4f4f4;
}

.Header {
  height: 50px;
  margin: 20px auto;
  width: 960px;
}

.Header-title {
  font-family: 'Helvetica';
  font-size: 32px;
  color: #333333;
}

.Header-subtitle {
  font-family: 'Helvetica';
  font-size: 16px;
  color: #333333;
}

.Main {
}

.Graph {
  margin: 0 auto;
  width: 960px;
}

.DebtTable {
  font-size: 16px;
  font-family: 'Helvetica';
  margin: 60px auto;
  width: 960px;
}

.tableHeader {
  background: #3c3c3c;
  box-sizing: border-box;
  color: white;
  height: 100%;
  padding: 5%;
  width: 100%;
}

.tableCell {
  box-sizing: border-box;
  height: 100%;
  padding: 5%;
  width: 100%;
}

.tableCell-morphing {
  border: '';
  font-size: 100%;
  font-family: inherit;
}

.tableCell-add {
  border: '';
}

.LineWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* add zebra stripes to DebtTable*/
.LineWrapper:nth-child(even) .tableCell-morphing,
.LineWrapper:nth-child(even) .tableCell-display {
  background-color: #b3d6f2;
}

.LineWrapper:nth-child(odd) .tableCell-morphing,
.LineWrapper:nth-child(odd) .tableCell-display {
  background-color: #69afe5;
}

.LineWrapper-cell {
  flex-basis: 20%;
}

.LineWrapper-cell:hover input{
  border: 1px solid #3c3c3c;
}

.IconWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.IconWrapper-button {
  flex-basis: 45%;
}

.button {
  box-sizing: border-box;
  padding: 0.5em 1em 0.5em 1em;
}

.button-primary {
  background-color: #0078d7;
  color: white;
  width: 100%;
}

.button-primary:hover {
  background-color: #005a9e;
}

.button-normal {
  background-color: #eaeaea;
  color: black;
}

.button-normal:hover {
  background-color: #c8c8c8;
}
